<a href="https://colab.research.google.com/github/Jirawan1998/datascience_bootcamp_project/blob/main/Bootcamp_07_Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Essential Python 101 

Learning 101 for beginners.

- variables
- data types
- data structures
- functions
- control flow
- OOP

In [1]:
print ("hello world")

hello world

In [2]:
print("I am learning 101")

I am learning 101

In [3]:
# comment
#this is just a note
print(1+1)
print(2*2)
print(5*3)

2
4
15

In [4]:
# basic calculation
print(7/2)
print(7//2) #floor division

3.5
3

In [5]:
pow(5,2)

25

In [6]:
abs(-666)

666

In [7]:
# modulo
5 % 2

1

In [8]:
# 5 building blocks
# 1.variable
# 2.data types
# 3.data structure
# 4.function
# 5.control flow
# 6.OOP

In [9]:
# assign a variable
my_name = "Tuk"
age = 24
gpa = 4.00
movie_lover = True

In [10]:
my_name

'Tuk'

In [11]:
# case sensitive
print(age, gpa, movie_lover, my_name)

24 4.0 True Tuk

In [12]:
# over write a value
age = 24
new_age = age - 12
print(age, new_age)

24 12

In [13]:
s23_price = 29999
discount = 4999
new_s23_price = s23_price - discount

print(new_s23_price)

25000

In [14]:
# discount 15%
s23_price2 = 29999
discount2 = 0.15
new_s23_price2 = s23_price2 * (1-discount2)

print(new_s23_price2)

25499.149999999998

In [15]:
# remove variable
del s23_price

In [16]:
# count variable 
age = 24
age += 1 # age = age + 1
age += 1
age -= 2
age *= 2
age /= 2
print(age)

24.0

In [17]:
# data types
# int float str bool

In [18]:
age = 24
gpa = 4.00
school = "Thammasat"
movie_lover = True

In [19]:
# check data type
print(type(age))
print(type(gpa))
print(type(school))
print(type(movie_lover))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [20]:
# convert type
x = 100
x = str(x)
print(x, type(x))

100 <class 'str'>

In [21]:
y = True # T=1 , F=0
y = int(y)
print(y, type(y))

1 <class 'int'>

In [22]:
z = 1
z = bool(z)
print(z,type(z))

True <class 'bool'>

In [23]:
text = "hello"
print(text + text, text*2)

hellohello hellohello

In [24]:
# type hint
age: int = 23
my_name: str = "Tuk"
gpa: float = 4.00
seafood: bool = True

In [25]:
print(age, type(age))

23 <class 'int'>

In [26]:
# function
print("hello", "world")
print(pow(5,2), abs(-5))

hello world
25 5

In [27]:
# greeting()
def greeting(name = "Tuk", location = "London"):
    print("Hello " + name)
    print("I am in " + location)

In [28]:
greeting()

Hello Tuk
I am in London

In [29]:
def add_two_nums(num1,num2):
    print("hello world")
    return num1 + num2
    print("Done!")

In [30]:
result = add_two_nums(5, 15)
print(result)

hello world
20

In [31]:
# work with string
text = "hello world"
long_text = """this is a
very long text
this is a new line"""

print(text)
print(long_text)

hello world
this is a
very long text
this is a new line

In [32]:
# string template: fstring
my_name = "Jeno Lee"
location = "London"
text = f"Hi my name is {my_name} and I live in {location}"

print(text)

Hi my name is Jeno Lee and I live in London

In [33]:
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [34]:
len(text)

23

In [35]:
# slicing, index starts with 0
print(text[22])
print(text[0], text[-1], text[22])

r
a r r

In [36]:
text [-3: ]

'bar'

In [37]:
#string is immutable
name = "Python" # -> Cython
name = "C" + name[1:]
print(name)

Cython

In [38]:
text = "a duck walks into a bar"

In [39]:
# function vs method 
# str methods
text.upper()

'A DUCK WALKS INTO A BAR'

In [40]:
text.lower()

'a duck walks into a bar'

In [41]:
text.title()

'A Duck Walks Into A Bar'

In [42]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [43]:
words = text.split(" ")
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [44]:
" ".join(words)

'a duck walks into a bar'

In [45]:
"-".join(words)

'a-duck-walks-into-a-bar'

In [46]:
# data structures
# 1. lists []
# 2. tuple ()
# 3. dictionary {}
# 4. set {unique}

In [47]:
# list
shopping_items = ["banana", "egg", "milk" ]
print(shopping_items)
print(shopping_items[0])
print(shopping_items[1])
print(shopping_items[2])
print(shopping_items[1:])
print(len(shopping_items))

['banana', 'egg', 'milk']
banana
egg
milk
['egg', 'milk']
3

In [48]:
shopping_items[0] = "pineapple"
print(shopping_items)

['pineapple', 'egg', 'milk']

In [49]:
# list methods
shopping_items.append("banana")
print(shopping_items)

['pineapple', 'egg', 'milk', 'banana']

In [50]:
# sort items (ascending order)
shopping_items.sort()
print(shopping_items)

['banana', 'egg', 'milk', 'pineapple']

In [51]:
# sort items (decending order)
shopping_items.sort(reverse = True)
print(shopping_items)

['pineapple', 'milk', 'egg', 'banana']

In [52]:
scores = [90, 88, 85, 92, 75]
print(len(scores), sum(scores), min(scores), max(scores))
print(sum(scores) / len(scores))

5 430 75 92
86.0

In [53]:
def mean(scores):
    return sum(scores) / len(scores)

In [54]:
scores = [90, 88, 85, 92, 75]
print(len(scores), sum(scores), 
      min(scores), max(scores), mean(scores))

5 430 75 92 86.0

In [55]:
shopping_items.pop()
shopping_items

['pineapple', 'milk', 'egg']

In [56]:
shopping_items.remove("egg")
shopping_items

['pineapple', 'milk']

In [57]:
# .insert()
shopping_items.insert(1, "egg")
shopping_items

['pineapple', 'egg', 'milk']

In [58]:
# list + list
items1 = ['egg', 'mi;lk']
items2 = ['banana', 'bread']

print(items1 + items2)

['egg', 'mi;lk', 'banana', 'bread']

In [59]:
# tuple () is immutable
tup_items = ('egg', 'bread', 'pepsi')
tup_items

('egg', 'bread', 'pepsi')

In [60]:
# username password
# student1, student2
s1 = ("id1001", "123456")
s2 = ("id1002", "654321")
user_pw = (s1, s2)

print(user_pw)

(('id1001', '123456'), ('id1002', '654321'))

In [61]:
# tuple unpacking
username, password = s1

print(username, password)

id1001 123456

In [62]:
# tuple unpacking 3 values
name, age, gpa = ("Lee Jeno", 22, 3.98)
print(name, age, gpa)

Lee Jeno 22 3.98

In [63]:
# tuple unpacking 3 values
name, age, _ = ("Lee Jeno", 22, 3.98)
print(name, age)

Lee Jeno 22

In [64]:
# set {unique}
courses = ["Python", "Python", "R", "SQL"]

In [65]:
set(courses)

{'Python', 'R', 'SQL'}

In [66]:
# dictionary key: value pairs
# key have to be immutable
# value can be anything
course = {
    "name": "Data Science Boothcamp",
    "student" : 200,
    "duration" : "4 months",
    "replay" : True,
    "skills" : ["Google Sheet", "SQL", "R", "Python",
                "Stat", "ML"]
}

In [67]:
course["skills"]

['Google Sheet', 'SQL', 'R', 'Python', 'Stat', 'ML']

In [68]:
# add key
course["start_time"] = "9am"
course["language"] = "Thai"

course

{'name': 'Data Science Boothcamp',
 'student': 200,
 'duration': '4 months',
 'replay': True,
 'skills': ['Google Sheet', 'SQL', 'R', 'Python', 'Stat', 'ML'],
 'start_time': '9am',
 'language': 'Thai'}

In [69]:
# remove key
del course["language"]
course

{'name': 'Data Science Boothcamp',
 'student': 200,
 'duration': '4 months',
 'replay': True,
 'skills': ['Google Sheet', 'SQL', 'R', 'Python', 'Stat', 'ML'],
 'start_time': '9am'}

In [70]:
# update value
course["replay"] = False
course

{'name': 'Data Science Boothcamp',
 'student': 200,
 'duration': '4 months',
 'replay': False,
 'skills': ['Google Sheet', 'SQL', 'R', 'Python', 'Stat', 'ML'],
 'start_time': '9am'}

In [71]:
course["skills"][-3:]

['Python', 'Stat', 'ML']

In [72]:
# dict method 
course.keys()

dict_keys(['name', 'student', 'duration', 'replay', 'skills', 'start_time'])

In [73]:
list(course.keys())

['name', 'student', 'duration', 'replay', 'skills', 'start_time']

In [74]:
list(course.values())

['Data Science Boothcamp',
 200,
 '4 months',
 False,
 ['Google Sheet', 'SQL', 'R', 'Python', 'Stat', 'ML'],
 '9am']

In [75]:
course.items()

dict_items([('name', 'Data Science Boothcamp'), ('student', 200), ('duration', '4 months'), ('replay', False), ('skills', ['Google Sheet', 'SQL', 'R', 'Python', 'Stat', 'ML']), ('start_time', '9am')])

In [76]:
course.get("replays")

In [77]:
# Recap
# list, dict = mutable
# tuble, str = immutable

In [78]:
# control flow
# if for while

In [79]:
# if
# final exmam 150, pass >= 120
score = 125
if score >= 120:
    print("pass")
else:
    print("fail")

pass

In [80]:
# if
# final exmam 150, pass >= 120
def grade(score):
    if score >= 120:
        print("pass")
    else:
        print("fail")

In [81]:
grade(88)

fail

In [82]:
def grade(score):
    if score >= 120:
        return "pass"
    else:
        return "fail"

In [83]:
result = grade(88)
print(result)

fail

In [84]:
def grade(score):
    if score >= 120:
        return "excellent"
    elif score >= 100:
        return "good"
    elif score >= 80:
        return "okay"
    else:
        return "need to read more"

In [85]:
result = grade(115)
print(result)

good

In [86]:
# and, or in condition
# course == data science, score >= 80 passed
# course == english, score >= 70 passed
def grade(course, score): 
    if course == "english" and score >= 70:
        return "passed"
    elif course == "data science" and score >= 80:
        return "passed"
    else:
        return "failed"

In [87]:
grade("data science",81 )

'passed'

In [88]:
# for loop
# if socre >= 80, passed 
def grading_all(scores):
    new_scores = []
    for score in scores:
        new_scores.append(score-2)
    return(new_scores)

In [89]:
grading_all([75, 88, 90, 95, 52])

[73, 86, 88, 93, 50]

In [90]:
# lists comprehension
scores = [75, 88, 90, 95, 52]

In [91]:
[s*2 for s in scores]

[150, 176, 180, 190, 104]

In [92]:
friends = ["tuk", "nina", "vee", "jiao"]
[f.upper() for f in friends]

['TUK', 'NINA', 'VEE', 'JIAO']

In [93]:
# while loop 
count = 0

while count < 5:
    print("hello")
    count +=1 # is count = count + 1

hello
hello
hello
hello
hello

In [94]:
# chatbot for fruit order
user_name = input ("what is your name?")

what is your name?Jeno

In [95]:
user_name

'Jeno'

In [100]:
def chatbot():
    fruits = []
    while True:
        fruit = input("what fruit do you want to order?")
        fruits.append(fruit)
        if fruit == "exit":
            return fruits

In [102]:
chatbot()

what fruit do you want to order?apple
what fruit do you want to order?orange
what fruit do you want to order?mango
what fruit do you want to order?exit

['apple', 'orange', 'mango', 'exit']

In [103]:
age = int(input("how old are you?"))

how old are you?24

In [120]:
# OOP - Object Oriented Programming
# Dog class

In [121]:
class Dog:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed

In [122]:
dog1 = Dog("ovaltine", 2, "chivava") #self refers to dog1,2,3 
dog2 = Dog("milo", 3, "bulldog")
dog3 = Dog("pepsi", 3.5, "german shepherd")

In [123]:
dog1.name

'ovaltine'

In [124]:
print(dog1.name,
      dog2.name,
      dog3.name)

ovaltine milo pepsi

In [125]:
print(dog1.name, dog1.age, dog1.breed)

ovaltine 2 chivava

In [126]:
class Employee:
    def __init__(self, id, name, dept, pos):
        self.id = id
        self.name = name
        self.dept = dept
        self.pos = pos 

    def hello(self): #action
        print(f"Hello! my name is {self.name}")

    def work_hours(self, hours):
        print(f"{self.name} work for {hours} hours.") # {hours} no need to use self.hours bc its not the value that 
        #we declare above, its like a new value and its not attach to employee and change everytime
    
    def change_dept(self, new_dept):
        self.dept = new_dept
        print(f"{self.name} is now in {self.dept}")

In [127]:
em1 = Employee(1, "Tuk", "Finance", "Financial Analyst")

In [128]:
print(em1.name, em1.pos)

Tuk Financial Analyst

In [129]:
em1.hello()

Hello! my name is Tuk

In [130]:
em1.work_hours(8)

Tuk work for 8 hours.

In [131]:
em1.dept

'Finance'

In [132]:
em1.change_dept("Data Science")

Tuk is now in Data Science

In [133]:
em1.dept

'Data Science'

In [134]:
# object: attrbute => name, id, dept, pos
# object: method => hello(), change_dept()