# "Intermediate Pandas "

In [1]:
import pandas as pd

In [2]:
penguins = pd.read_csv("penguins.csv")

In [3]:
# preview first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [4]:
#preview lst 5 rows
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [5]:
#shape of dataframe
penguins.shape

(344, 7)

In [6]:
#information of dataframe
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [7]:
#select column
penguins[['species', 'island', 'sex']].tail(8)

,species,island,sex
336,Gentoo,Biscoe,NaN
337,Gentoo,Biscoe,MALE
338,Gentoo,Biscoe,FEMALE
339,Gentoo,Biscoe,NaN
340,Gentoo,Biscoe,FEMALE
341,Gentoo,Biscoe,MALE
342,Gentoo,Biscoe,FEMALE
343,Gentoo,Biscoe,MALE

In [8]:
 # Integer-location base indexing (iloc)
 mini_penguins = penguins.iloc[0:5, [0,1,2]]
mini_penguins

,species,island,bill_length_mm
0,Adelie,Torgersen,39.1
1,Adelie,Torgersen,39.5
2,Adelie,Torgersen,40.3
3,Adelie,Torgersen,NaN
4,Adelie,Torgersen,36.7

In [9]:
#filter rows by a condition
penguins[penguins['island'] == 'Torgersen']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,FEMALE
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,FEMALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,FEMALE
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,MALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,MALE
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,FEMALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,FEMALE
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,MALE
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,FEMALE
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,MALE
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,FEMALE
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,MALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,FEMALE
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,MALE
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,MALE
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,FEMALE
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,MALE
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,FEMALE
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,MALE
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,FEMALE
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,MALE
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,FEMALE
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,MALE
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,FEMALE
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,MALE
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,FEMALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,FEMALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE

In [10]:
penguins[penguins['bill_length_mm'] < 34]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
142,Adelie,Dream,32.1,15.5,188.0,3050.0,FEMALE

In [11]:
#filter more than one condition
filter_penguins = penguins[ (penguins['island'] == 'Torgersen') & (penguins['bill_length_mm'] < 35) ]
filter_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE

In [12]:
#flter with .query()
penguins.query('island == "Torgersen" & bill_length_mm < 35') #"island == 'Torgersen'"

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE

In [13]:
# filter missing values in colum sex
penguins.isna().sum()

In [14]:
penguins[penguins['sex'].isna()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [15]:
#  Fill missing values
top5_penguins = penguins.head(5)
top5_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [16]:
avg_value = top5_penguins['bill_length_mm'].mean()
avg_value

38.9

In [17]:
top5_penguins = top5_penguins['bill_length_mm'].fillna(value = avg_value)
top5_penguins

In [50]:
# sort bill_length_mm low to high, high to low
penguins.dropna().sort_values('bill_length_mm', ascending= False).head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,sex_new
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE,m
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,FEMALE,f
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,MALE,m
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,MALE,m
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE,m
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,MALE,m
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,MALE,m
191,Chinstrap,Dream,53.5,19.9,205.0,4500.0,MALE,m
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,MALE,m
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,MALE,m

In [45]:
#sort multiple column
penguins.dropna().sort_values(['island', 'bill_length_mm'], ascending= False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,sex_new
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE,m
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE,m
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE,m
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE,m
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE,m
...,...,...,...,...,...,...,...,...
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,FEMALE,f
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,FEMALE,f
52,Adelie,Biscoe,35.0,17.9,190.0,3450.0,FEMALE,f
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,FEMALE,f
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,FEMALE,f

In [46]:
#Unique and Count
penguins['species'].unique()

In [47]:
#count values
penguins['species'].value_counts()

In [48]:
#count more than one column
result = penguins[['island','species']].value_counts().reset_index()
result.columns = ['island', 'species', 'count']
result

,island,species,count
0,Biscoe,Gentoo,124
1,Dream,Chinstrap,68
2,Dream,Adelie,56
3,Torgersen,Adelie,52
4,Biscoe,Adelie,44

In [49]:
# summarise dataframe
penguins.describe(include = 'all')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,sex_new
count,344,344,342.000000,342.000000,342.000000,342.000000,333,344
unique,3,3,NaN,NaN,NaN,NaN,2,3
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,MALE,m
freq,152,168,NaN,NaN,NaN,NaN,168,168
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN,NaN
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN,NaN
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN,NaN
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN,NaN
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN,NaN
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN,NaN
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN,NaN

In [24]:
# average, mean
penguins['bill_length_mm'].median()

44.45

In [51]:
# group by + sum/mean
penguins.groupby('species')['bill_length_mm'].agg(['min', 'mean', 'median', 'std', 'max'])

,min,mean,median,std,max
species,,,,,
Adelie,32.1,38.791391,38.80,2.663405,46.0
Chinstrap,40.9,48.833824,49.55,3.339256,58.0
Gentoo,40.9,47.504878,47.30,3.081857,59.6

In [52]:
# if code is long
penguins.groupby(['island', 'species'])['bill_length_mm']\
    .agg(['min', 'mean', 'max'])\
    .reset_index()

,island,species,min,mean,max
0,Biscoe,Adelie,34.5,38.975000,45.6
1,Biscoe,Gentoo,40.9,47.504878,59.6
2,Dream,Adelie,32.1,38.501786,44.1
3,Dream,Chinstrap,40.9,48.833824,58.0
4,Torgersen,Adelie,33.5,38.950980,46.0

In [53]:
penguins['sex_new'] = penguins['sex'].map({'MALE': 'm', 'FEMALE': 'f'}).fillna('other')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,sex_new
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,m
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,f
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,f
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,other
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,f

In [28]:
# pandas style
penguins['bill_length_mm'].mean()

43.9219298245614

In [29]:
# numpy
import numpy as np
np.mean(penguins['bill_length_mm'])

43.9219298245614

In [30]:
# other function of numpy
print(np.sum(penguins['bill_depth_mm']))
print(np.std(penguins['body_mass_g']))

5865.700000000001
800.7812292384522

In [31]:
score = pd.Series([80, 55, 62, 95, 20])

In [32]:
grade = np.where(score >= 80, "passed", "failed")
print(grade)

['passed' 'failed' 'failed' 'passed' 'failed']

In [33]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,sex_new
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,m
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,f
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,f
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,other
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,f

In [34]:
df = penguins.query("species == 'Adelie'")[['species', 'island', 'bill_length_mm']].dropna()

In [35]:
df['new_column'] = np.where(df['bill_length_mm'] > 40, True, False) # Boolean

In [36]:
df.head(10)

,species,island,bill_length_mm,new_column
0,Adelie,Torgersen,39.1,False
1,Adelie,Torgersen,39.5,False
2,Adelie,Torgersen,40.3,True
4,Adelie,Torgersen,36.7,False
5,Adelie,Torgersen,39.3,False
6,Adelie,Torgersen,38.9,False
7,Adelie,Torgersen,39.2,False
8,Adelie,Torgersen,34.1,False
9,Adelie,Torgersen,42.0,True
10,Adelie,Torgersen,37.8,False

In [37]:
left = {
    'key': [1,2,3,4],
    'name': ['toy', 'joe','jane', 'anna'],
    'age': [25, 28, 30, 22]
}

right = {
    'key': [1, 2, 3, 4], 
    'city': ['Bangkok', 'London', 'Seoul', 'Tokyo'], 
    'zip': [1001, 2504, 2094, 9802]
}        

df_left = pd.DataFrame(left)
df_right = pd.DataFrame(right)

In [38]:
df_left

,key,name,age
0,1,toy,25
1,2,joe,28
2,3,jane,30
3,4,anna,22

In [39]:
df_right

,key,city,zip
0,1,Bangkok,1001
1,2,London,2504
2,3,Seoul,2094
3,4,Tokyo,9802

In [40]:
import pandas as pd
pd.merge(df_left, df_right, on = 'key')

,key,name,age,city,zip
0,1,toy,25,Bangkok,1001
1,2,joe,28,London,2504
2,3,jane,30,Seoul,2094
3,4,anna,22,Tokyo,9802

In [41]:
# histogram one column
penguins['body_mass_g'].plot(kind = 'hist') ;

In [42]:
# histogram two column
penguins[['body_mass_g','bill_length_mm']].plot(kind = 'hist', bins = 30)

In [43]:
penguins['bill_length_mm'].plot(kind = 'hist', bins = 30, color = "orange")

In [44]:
# bar plot for species
penguins['species'].value_counts().plot(kind = 'bar', color= ['salmon', 'orange', 'gold'])